
<div class="notes-container">
  <div [ngClass]="isListView ? 'note-list' : 'note-grid'">
    <div *ngFor="let note of searchText ? filteredNotes : notes" (click)="openNoteForEdit(note)" class="note-card" [ngStyle]="{ 'background-color': note.colour }">
      
      <div class="note-header">

        <div class="note-title">{{ note.title }}</div>

        <mat-icon *ngIf="!note.isTrashed" class="pin-icon" matTooltip="Pin note">push_pin</mat-icon>        

      </div>
  
      <div class="note-content">{{ note.description }}<br>
        <div *ngIf="!note.isTrashed && note.remainder" class="reminder-chip">
          <mat-icon class="reminder-icon">access_time</mat-icon>
          <span class="reminder-text">{{ note.remainder | date: 'MMM d, h:mm a' }}</span>
          <mat-icon class="remove-reminder-icon" (click)="removeReminder(note, $event)" matTooltip="Remove reminder">cancel</mat-icon>
        </div>

        <div class="label-container" *ngIf="note.noteLabels?.length">
          <mat-chip *ngFor="let label of note.noteLabels" class="label-chip">
            {{ label.name }}
          </mat-chip>
        </div>
        

      </div>
      
      <!--  -->
      
      <!--  -->
  
      <div class="note-icons">

      <!-- Show only the untrash and permanent delete icons if note is in trash -->
       <div>
        <mat-icon *ngIf="note.isTrashed" (click)="unTrashNote(note, $event)" matTooltip="Restore" >restore</mat-icon>
        <mat-icon *ngIf="note.isTrashed" (click)="deletePermanent(note, $event)" matTooltip="Delete forever">delete_forever</mat-icon>
       </div>
      

        <mat-icon *ngIf="!note.isTrashed" (click)="toggleColorPicker(note, $event); showNoteIcons(note, $event)" matTooltip="Background options">palette</mat-icon>
        <mat-icon *ngIf="!note.isTrashed" matTooltip="Remind me" (click)="openReminderDialog(note, $event)">notifications_none</mat-icon>
        <mat-icon *ngIf="!note.isTrashed" matTooltip="Collaborator" (click)="openCollaboratorsDialog(note, $event); showNoteIcons(note, $event)">person_add</mat-icon>
        <mat-icon *ngIf="!note.isTrashed" matTooltip="Add image">image</mat-icon>
      
        <!-- <mat-icon (click)="toArchive(note)">archive</mat-icon> -->
        <mat-icon (click)="toArchive(note, $event); showNoteIcons(note, $event)" *ngIf="!note.isTrashed" matTooltip="{{ showArchived ? 'Unarchive' : 'Archive' }}">
          {{ showArchived ? 'unarchive' : 'archive' }}
        </mat-icon>

        <!-- More options with menu -->
        
        <mat-icon [matMenuTriggerFor]="noteMenu" *ngIf="!note.isTrashed" matTooltip="More" (click)="$event.stopPropagation(); showNoteIcons(note, $event)">more_vert</mat-icon>
                <mat-menu #noteMenu="matMenu" class="more-options-menu">
          <button mat-menu-item (click)="trashNote(note,  $event); showNoteIcons(note, $event)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>

          <button mat-menu-item [matMenuTriggerFor]="labelMenu" (click)="$event.stopPropagation()">
            <mat-icon>label</mat-icon>
            <span>Add label</span>
          </button>

        <mat-menu #labelMenu="matMenu">
          <button mat-menu-item *ngFor="let label of labelsList" (click)="assignLabel(note, label)">
            {{ label.name }}
          </button>
          <p *ngIf="labelsList.length === 0" style="padding: 0 16px; color: grey;">No labels available</p>
        </mat-menu>
          

        </mat-menu>

        
      </div>
  
      
      <div class="color-picker" *ngIf="note.showColorPicker">
        <div *ngFor="let colour of colours" class="color-circle" [ngStyle]="{ 'background-color': colour }" (click)="selectColor(note, colour, $event)">
        </div>
      </div>

    </div>
  </div>
</div>
  