
<div class="notes-container">
    <div *ngFor="let note of notes" (click)="openNoteForEdit(note)" class="note-card" [ngStyle]="{ 'background-color': note.colour }">
      <div class="note-header">

        <div class="note-title">{{ note.title }}</div>

        <mat-icon *ngIf="!note.isTrashed" class="pin-icon" matTooltip="Pin note">push_pin</mat-icon>

      </div>
  
      <div class="note-content">{{ note.description }}</div>

      
  
      <div class="note-icons">

      <!-- Show only the untrash and permanent delete icons if note is in trash -->
       <div>
        <mat-icon *ngIf="note.isTrashed" (click)="unTrashNote(note, $event)" matTooltip="Restore" >restore</mat-icon>
        <mat-icon *ngIf="note.isTrashed" (click)="deletePermanent(note, $event)" matTooltip="Delete forever">delete_forever</mat-icon>
       </div>
      

        <mat-icon  *ngIf="!note.isTrashed" (click)="toggleColorPicker(note, $event); showNoteIcons(note, $event)" matTooltip="Background options">palette</mat-icon>
        <mat-icon *ngIf="!note.isTrashed" matTooltip="Remind me">notifications_none</mat-icon>
        <mat-icon *ngIf="!note.isTrashed" matTooltip="Collaborator" (click)="openCollaboratorsDialog(note, $event); showNoteIcons(note, $event)">person_add</mat-icon>
        <mat-icon *ngIf="!note.isTrashed" matTooltip="Add image">image</mat-icon>
      
        <!-- <mat-icon (click)="toArchive(note)">archive</mat-icon> -->
        <mat-icon (click)="toArchive(note, $event); showNoteIcons(note, $event)" *ngIf="!note.isTrashed" matTooltip="{{ showArchived ? 'Unarchive' : 'Archive' }}">
          {{ showArchived ? 'unarchive' : 'archive' }}
        </mat-icon>

        <!-- More options with menu -->
        
        <mat-icon [matMenuTriggerFor]="noteMenu" *ngIf="!note.isTrashed" matTooltip="More" (click)="$event.stopPropagation(); showNoteIcons(note, $event)">more_vert</mat-icon>
                <mat-menu #noteMenu="matMenu" class="more-options-menu">
          <button mat-menu-item (click)="trashNote(note); showNoteIcons(note, $event)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>

          <button mat-menu-item>
            <mat-icon>content_copy</mat-icon>
            <span>Make a copy</span>
          </button>

          <button mat-menu-item>
            <mat-icon>palette</mat-icon>
            <span>Change label</span>
          </button>

          <button mat-menu-item>
            <mat-icon>add_alert</mat-icon>
            <span>Add reminder</span>
          </button>

          <button mat-menu-item>
            <mat-icon>check_box</mat-icon>
            <span>Show checkboxes</span>
          </button>
        </mat-menu>

        
      </div>
  
      
      <div class="color-picker" *ngIf="note.showColorPicker">
        <div *ngFor="let colour of colours" class="color-circle" [ngStyle]="{ 'background-color': colour }" (click)="selectColor(note, colour, $event)">
        </div>
      </div>
    </div>
  </div>
  