<div class="google-login">
  <mat-card class="login-card">
    <div class="left-pane">
      <img src="assets/Images/GoogleLogo.png" alt="Google Logo" class="google-icon" />
      <h1>Sign in</h1>
      <p class="description">
        with your Google Account. This account will be available to other Google apps in the browser.
      </p>
    </div>

    <div class="right-pane">
      <form [formGroup]="login" (ngSubmit)="onSubmit()">
        <!-- Email / Phone -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <a class="link" href="#">Forgot email?</a>

        <!-- Password -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />

          <!-- toggles the visibility (true - false) -->
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <a class="link" href="#">Forgot password?</a>

        <p class="info-text">
          Not your computer? Use Guest mode to sign in privately.
          <a class="link" href="#">Learn more about using Guest mode</a>
        </p>

        <div class="actions">
          <button mat-button color="primary" type="button" (click)="onCreateAccount()">Create account</button>
          <button mat-flat-button color="primary" type="submit" [disabled]="login.invalid">
            Login
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
