<mat-toolbar class="header">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  
    <img src="assets/Images/keepLogo.png" alt="Fundoo Logo" width="40">
    <span class="app-title">FunDoo</span>
  
    <span class="spacer"></span>
  
    <mat-form-field class="search-bar" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search">
    </mat-form-field>
  
    <button mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>view_agenda</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Sidebar (optional) -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <mat-list-item><mat-icon>lightbulb</mat-icon>
          <span>Notes</span></mat-list-item>
        <mat-list-item><mat-icon>notifications</mat-icon><span>Reminders</span></mat-list-item>
        <mat-list-item><mat-icon>edit</mat-icon><span>Edit labels</span></mat-list-item>
        <mat-list-item><mat-icon>archive</mat-icon><span>Archive</span></mat-list-item>
        <mat-list-item><mat-icon>delete</mat-icon><span>Trash</span></mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    </mat-sidenav-container>
    
  