.register-container {
  max-width: 700px;
  margin: 10px auto;
  padding: 16px;
  background: white;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-items: center;
}

.register-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.logo-left {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}

.logo-left img {
  width: 40px;
  margin-bottom: 8px;
}

.logo-left h2 {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
}

.form-right {
  flex: 2 1 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
}

.name-fields,
.password-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

mat-form-field {
  flex: 1;
  width: 100%;
  margin-bottom: 4px !important;
}

.full-width {
  width: 100%;
}

.submit-btn {
  width: 100%;
}

@media (max-width: 700px) {
  .register-flex {
    flex-direction: column;
    align-items: center;
  }

  .name-fields,
  .password-fields {
    flex-direction: column;
  }

  .form-right {
    padding: 0;
  }

  .logo-left {
    align-items: center;
    text-align: center;
  }
}

.register-page {
  background-color: #f9fbfc; //soft gray 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dob-fields {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}


